* {
    margin: 0px;
    border: 0px;
}

@font-face {
    font-family: "NotoSansUI";
    src: url(../font/NotoSansUI-Regular.ttf);
    font-weight: normal;
    font-style: normal
}

h1 #Title {
    line-height: 0.75;
}

label.question {
    font-size: 1.4em;
    letter-spacing: 1px;
    width: 400px;
    cursor: pointer;
}

input.tbox {
    border: 3px solid rgba(255, 255, 255, 0.5);
    margin: 10px;
    line-height: 1.5;
    font-size: 1.4em;
    padding: 5px 10px;
    color: #fff;
    width: 400px;
    background: transparent;
    text-align: center;
}

input.tbox:valid {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 95%;
}

input.tbox:focus {
    outline: none;
    border: 3px solid rgba(255, 255, 255, 1);
}

#First_block {
    background-image: url(https://cdn.shopify.com/s/files/1/0122/8442/t/17/assets/header-5.jpg?3075264424127480189);
    background-position: 50% 50% !important;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 100vh;
    animation-name: fadein;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

#Title_block {
    position: relative;
    top: 50%;
    width: 100%;
    text-align: center;
    line-height: 0.75;
}

#Second_block {
    box-sizing: border-box;
    height: 100vh;
}

#Final_block {
    background: #1a1a1a;
    box-sizing: border-box;
    height: 100vh;
}

.speaker {
  height: 30px;
  width: 30px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.speaker span {
  display: block;
  width: 8px;
  height: 8px;
  background: #fff;
  margin: 11px 0 0 2px;
}

.speaker span:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  border-width: 10px 14px 10px 15px;
  left: -13px;
  top: 5px;
}

.speaker span:before {
  transform: rotate(45deg);
  border-radius: 0 50px 0 0;
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-style: double;
  border-color: #fff;
  border-width: 7px 7px 0 0;
  left: 18px;
  top: 9px;
  transition: all 0.2s ease-out;
}

.speaker:hover span:before {
  transform: scale(0.8) translate(-3px, 0) rotate(42deg);
}

.speaker.mute span:before {
  transform: scale(0.5) translate(-15px, 0) rotate(36deg);
  opacity: 0;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

#Form_block {
    position: relative;
    text-align: center;
    width: 100%;
    top: calc(50% - 315px);
}

#model_box {
    margin: 10px;
}

.form ul {
    list-style: none;
    margin: 5px;
    max-width: 800px;
    display: inline;
}

.form li {
    margin: 5px;
    position: relative;
    display: inline;
}

input.model {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    -webkit-appearance: none;
}

label.option::before {
    width: 50px;
    height: 50px;
    top: 50%;
    left: 0;
    margin-top: -25px;
    position: absolute;
    cursor: pointer;
    content: '';
    border: 4px solid #fff;
    border-radius: 50%;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

label.option {
    position: relative;
    font-size: 2em;
    padding: 0 0 0 80px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

input.model:checked + label {
    color: #fff;
}

svg {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    left: 10px;
    pointer-events: none;
}

svg path {
    stroke: #ffffff;
    stroke-width: 13px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

input.button {
    border-radius: 20px;
    padding: 25px 65px;
    margin: 5px 5px;
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 6px rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 1.4em;
    cursor: pointer;
    outline: none;
}

input.button:hover {
    box-shadow: 0 4px rgba(255, 255, 255, 0.3);
    top: 2px;
}

input.button:active {
    box-shadow: 0 0 rgba(255, 255, 255, 0.3);
    top: 6px;
}

input.button::after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

span.light {
    position: relative;
    display: inline-block;
}

span.light::before {
    position: absolute;
    left: 0;
    top: -10%;
    width: 100%;
    height: 120%;
    background: #fff;
    filter: blur(10px);
    content: "";
    opacity: 0;
    animation-name: flash;
    animation-timing-function: ease-out;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes fadein {
    0% {
        opacity: 0.0;
        top: 50px;
        color: rgba(255, 255, 255, 0);
    }
    50% {
        opacity: 0.5;
        top: 25px;
        color: rgba(255, 255, 255, 0);
    }
    100% {
        opacity: 1.0;
        top: 0px;
        color: rgba(255, 255, 255, 1)
    }
}

@keyframes flash {
    to {
        opacity: 1;
    }
}